* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #666;
  overflow-x: hidden; }

@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-200px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(200px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  8% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

.move-in-left {
  animation: moveInLeft 0.2 ease-out; }

.heading-primary {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px; }
  .heading-primary-main {
    display: block;
    font-weight: 400;
    letter-spacing: 35px;
    font-size: 80px;
    animation: moveInleft 01s ease-out; }
  .heading-primary-sub {
    display: block;
    font-weight: 700;
    letter-spacing: 12.2px;
    font-size: 24px;
    animation: moveInRight 01s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #8bc34a, #28b485);
  -webkit-background-clip: text;
  transition: all 0.2s;
  letter-spacing: 2px;
  color: transparent; }
  .heading-secondary:hover {
    transform: skewY(-2deg) skewX(-15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 30px; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-extra-big {
  margin-top: 12rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 0.5rem; }

.min-height-500px {
  min-height: 370px; }

.header {
  height: 95vh;
  background-image: linear-gradient(to bottom right, rgba(139, 195, 74, 0.2), rgba(40, 180, 133, 0.8)), url(../img/hag.webp);
  background-size: cover;
  background-position: top;
  position: relative;
  background-attachment: fixed;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  /* clip-path: polygon(50% 0, 100% 100%, 0 100%);
      clip-path: ellipse(100% 50% at 50% 20%); */ }
  .header__logo-box {
    position: absolute;
    top: 40px;
    left: 40px; }

.logo {
  height: 35px; }

.heading-box {
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%); }

.section-about {
  background-color: #f7f7f7;
  padding: 50rem 0;
  margin-top: -35vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to bottom right, rgba(139, 195, 74, 0.8), rgba(40, 180, 133, 0.8)), url(../img/vite2.jpeg);
  background-size: cover;
  transform: skewY(-7deg) translateY(-20rem); }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  padding: 50rem 0 20rem 0;
  background-color: #f7f7f7;
  margin-top: -35rem; }

.section-stories {
  padding: 15rem 0 10rem 0;
  position: relative; }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to righ bottom, #8bc34a, #28b485);
  border: 1px solid red; }

.book {
  background-image: url(../img/beach01.jpg);
  background-size: 100%;
  height: 50rem;
  border-radius: 3px; }

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); }

.btn-white {
  background: #fff;
  color: #888; }
  .btn-white::after {
    background-color: #fff; }

.btn-orange {
  background: #f16b52;
  color: #fff; }
  .btn-orange::after {
    background-color: #f16b52; }

.btn-green {
  background: #8bc34a;
  color: #fff; }
  .btn-green::after {
    background-color: #8bc34a; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.2s; }

.btn-animated {
  animation: moveInUp 0.5s ease-out 1s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1 rem;
  color: #f16b52;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #f16b52;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #f16b52;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(0px); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    aspect-ratio: 1.3 / 1;
    object-fit: cover;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    transition: all 0.2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: 0; }
    .composition__photo--p2 {
      right: 0rem;
      top: 5rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 15rem; }
    .composition__photo:hover {
      outline: 0.5rem solid #f16b52;
      transform: scale(1.1) translateY(15px);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 10; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95);
    opacity: 0.7; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rbga(#000, 0.15);
  transition: all 0.2s ease-out; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    color: #8bc34a; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.05); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__picture {
    background-size: cover;
    height: 25rem;
    background-blend-mode: screen;
    --webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #8bc34a, #28b485), url(../img/p1.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #ffb900, #f16b52), url(../img/p2.webp); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/p3.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right; }
  .card__heading-span {
    padding: 3.5rem 2rem;
    display: block;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 1rem 1rem; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(139, 195, 74, 0.7), rgba(40, 180, 133, 0.7));
      padding: 1rem 1rem; }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.7), rgba(241, 107, 82, 0.7));
      padding: 1rem 1rem; }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.7), rgba(86, 67, 250, 0.7));
      padding: 1rem 1rem; }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.6rem;
        padding: 0.6rem;
        color: #888; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__side {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50rem;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #8bc34a, #28b485); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #ffb900, #f16b52); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__cta {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .card__price-box {
    margin-bottom: 8rem; }
  .card__price-value {
    font-size: 6rem; }
  .card__price-only {
    font-size: 1.4rem; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  transform: skewX(-12deg); }
  .story__shape {
    height: 15rem;
    width: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .story__img {
    width: 100%;
    object-fit: cover;
    transition: all 0.5s; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);
    opacity: 0;
    color: white;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: scale(1.1);
    filter: blur(2px) brightness(80%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
  opacity: 0.15; }
  .bg-video__content {
    height: 100%;
    object-fit: cover; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc(((100% - 6rem) / 2)); }
  .row .col-1-of-3 {
    width: calc(((100% - 2 * 6rem) / 3)); }
  .row .col-1-of-4 {
    width: calc(((100% - 3 * 6rem) / 4)); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }
