// colors
// $color-primary: #8bc34a;
// $color-primary-dark: #28b485;
// $color-secondary: #f16b52;
// $color-gray: #888;
// $color-black: #000;
// $color-white: #fff;
// $color-gray-light-1: #f7f7f7;
// $color-gray-light-2: #eee;

// $color-secondary-light: #ffb900;

// $color-tertiary-light: #2998ff;
// $color-tertiary-dark: #5643fa;

$color-primary: #769abe;
$color-primary-dark: #1a385a;
$color-secondary: #e46f44;
$color-gray: #666;
$color-gray-dark: #333;
$color-black: #000;
$color-white: #fff;
$color-gray-light-1: #dcd5dc;
$color-gray-light-2: #eee;

$color-secondary-light: #e8aa9b;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-green: #8bc34a;

// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$default-font-size: 1.6rem;
