.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;

  // front-side styling
  &__picture {
    background-size: cover;
    height: 25rem;
    background-blend-mode: screen;
    --webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    &--1 {
      background-image: linear-gradient(to right bottom, $color-primary, $color-primary-dark),
        url(../img/p1.jpg);
    }
    &--2 {
      background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary),
        url(../img/p2.webp);
    }
    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url(../img/p3.jpg);
    }
  }
  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
  }

  &__heading-span {
    padding: 3.5rem 2rem;
    display: block;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 1rem 1rem;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, 0.7),
        rgba($color-primary-dark, 0.7)
      );
      padding: 1rem 1rem;
    }
    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.7),
        rgba($color-secondary, 0.7)
      );
      padding: 1rem 1rem;
    }
    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.7),
        rgba($color-tertiary-dark, 0.7)
      );
      padding: 1rem 1rem;
    }
  }
  &__details {
    padding: 3rem;
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.6rem;
        padding: 0.6rem;
        color: $color-gray;

        &:not(:last-child) {
          border-bottom: 1px solid $color-gray-light-2;
        }
      }
    }
  }
  &__side {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50rem;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    &--front {
      background-color: $color-white;
    }
    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(to right bottom, $color-primary, $color-primary-dark);
      }
      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary
        );
      }
      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }
  //   when the card is hover, transform the side of the card inside.

  //   function
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  //   backside styling
  &__cta {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__price-box {
    margin-bottom: 8rem;
  }
  &__price-value {
    font-size: 6rem;
  }
  &__price-only {
    font-size: 1.4rem;
  }
}
